# Node modules
node_modules
dist
client/node_modules/
server/node_modules/

# Build output
client/dist/
server/dist/

# Environment variables
client/.env
server/.env

# Logs
*.log

#env
.env
server/.env
client/.env
# OS/System files
.DS_Store
